body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fav-button {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  margin: 10px;
  border: none;
  width: 50px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer>img {
  width: 200px;
  margin: 0;
}

footer>p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 60px;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-left: 150px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}

.dark>a {
  color: white;
}

.dark .fav-button {
  background-color: rgb(207, 201, 201);
}

.contact {
  text-align: center;
}

.card>img {
  width: 100px;
  height: 100px;
}

.card-details>img {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 170px;
  top: 220px;
}

.go-back {
  background-color: rgb(250, 146, 146);
  padding: 10px;
  margin-left: 500px;
  margin-top: 20px;
  border: none;
  width: 30%;
  cursor: pointer;
}